#browse-book {
	overflow: hidden;
	margin-left: 300px;
	padding: 125px 15px 0;
	min-height: 100vh;
	transition: all 0.3s ease-out 0s;
	.container-fluid {
		width: 100%;
		padding-right: 15px;
		padding-left: 15px;
		margin-right: auto;
		margin-left: auto;
		.wrapper-content {
			display: flex;
			flex-wrap: wrap;
			margin-right: -15px;
			margin-left: -15px;
			.content-item {
				position: relative;
				width: 100%;
				padding-right: 15px;
				padding-left: 15px;
				.card {
					height: calc(100% - 30px);
					background-color: #ffffff;
					border-radius: 5px;
					margin-bottom: 30px;
					border: none;
					box-shadow: 0px 4px 20px 0px rgba(44, 101, 144, 0.1);
					display: flex;
					flex-grow: 1;
					flex-direction: column;
					.card-header {
						padding: 20px;
						margin-bottom: 0;
						align-items: center;
						border-bottom: 1px solid #f1f1f1;
						position: relative;
						display: flex;
						justify-content: space-between;
						.card-title {
							font-size: 1.4em;
						}
						.card-header-toolbar {
							display: flex;
							align-items: center;
							a {
								background: var(--var-primary);
								border-color: var(--var-primary);
								padding: 0.25rem 0.5rem;
								font-size: 14px;
								border-radius: 4px;
								transition: all 0.5s ease-out 0s;
								line-height: 1.5;
								color: #fff;
							}
						}
					}
					.card-body {
						padding: 20px;
						display: flex;
						flex-wrap: wrap;
						margin-left: -15px;
						margin-right: -15px;
						.card-item {
							position: relative;
							width: 100%;
							padding-right: 15px;
							padding-left: 15px;
							background: transparent;
							box-shadow: none;
							transition: all 0.5s ease-out 0s;
							border-radius: 5px;
							margin-bottom: 30px;
							border: none;
							display: flex;
							flex-grow: 1;
							align-items: center;
							.card-image {
								padding: 0px;
								position: relative;
								max-width: 50%;
								flex: 0 0 50%;
								a img {
									border-radius: 5px;
									width: 100%;
									vertical-align: middle;
									border-style: none;
								}
								.view-book {
									position: absolute;
									left: 0;
									right: 0;
									margin: 0 auto;
									text-align: center;
									top: 40%;
									opacity: 0;
									transition: all 0.3s ease-out 0s;
									a {
										padding: 0.25rem 0.5rem;
										font-size: 14px;
										border-radius: 4px;
										transition: all 0.5s ease-out 0s;
										background-color: #fff;
										border-color: #fff;
										color: var(--var-primary);
									}
								}
							}
							.card-image:hover {
								.view-book {
									opacity: 1;
									transition: all 0.3s ease-out 0s;
									position: absolute;
									left: 0;
									right: 0;
									margin: 0 auto;
									text-align: center;
									top: 40%;
								}
							}
							.card-image::before {
								content: "";
								border-radius: 5px;
								height: 100%;
								left: 0;
								top: 0px;
								position: absolute;
								transition: all 0.3s ease-out 0s;
								width: 100%;
							}
							.card-content {
								position: relative;
								width: 100%;
								padding-right: 15px;
								padding-left: 15px;
								flex: 0 0 50%;
								max-width: 50%;
								.card-content-header {
									margin-bottom: 0.5rem;
									h6 {
										overflow: hidden;
										text-overflow: ellipsis;
										display: -webkit-box;
										-webkit-line-clamp: 2;
										-webkit-box-orient: vertical;
										margin-bottom: 0.25rem !important;
										font-size: 1em;
										line-height: 1.3em;
									}
									p {
										overflow: hidden;
										text-overflow: ellipsis;
										display: -webkit-box;
										-webkit-line-clamp: 1;
										-webkit-box-orient: vertical;
										font-size: 13px !important;
										margin-bottom: 0.25rem !important;
										color: var(--var-body-text);
									}
									.rating {
										span i {
											font-size: 11px;
											color: #ffba68;
										}
									}
								}

								.card-content-price {
									display: flex;
									align-items: center;
									.old-price {
										text-decoration: line-through;
										padding-right: 0.25rem;
										color: var(--var-body-text);
									}
									h6 {
										overflow: hidden;
										text-overflow: ellipsis;
										display: -webkit-box;
										-webkit-line-clamp: 2;
										-webkit-box-orient: vertical;
										font-size: 1em;
										line-height: 1.3em;
										color: black;
									}
								}
								.card-content-actions {
									font-size: 20px;
									line-height: 20px;
									a .fa-cart-shopping {
										color: var(--var-primary);
									}
									a .fa-heart {
										margin-left: 0.5rem !important;
										color: #ff9b8a;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
